<header>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/plugins/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

{% load i18n %}
</header>

<html>
    <body>
    {% block content %}
    <nav class="container-fluid">
        <div class="nav-wrapper">
            <a href="base.html" class="logo">
                <div class="logo-wrapper">
                    <a href="#" class="navbar-left"><img src="/static/img/logo_small.png"></a>
                </div>
                <div class="logo-text">
                    <span>Cable Management</span>
                </div>
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a href="cable/" class="nav-link active"><h5>{% trans "Cable" %}</h5></a>
                </li>
                <li class="nav-item">
                    <a href="device/" class="nav-link active"><h5>{% trans "Device" %}</h5></a>
                </li>
                <li class="nav-item">
                    <a href="panel/" class="nav-link active"><h5>{% trans "Panel" %}</h5></a>
                </li>
                <li class="nav-item">
                    <a href="strand/" class="nav-link active"><h5>{% trans "Strand" %}</h5></a>
                </li>
                <li class="nav-item">
                    <a href="report/" class="nav-link active"><h5>{% trans "Report" %}</h5></a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    </body>
</html>