{% include 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/plugins/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
{% block content %}

<div class="table-wrapper container-fluid">
        <table class="table table-bordered table-hover border-none">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Destination to</th>
                    <th scope="col">Destination from</th>
                    <th scope="col">Status</th>
                    <th scope="col">Cross-section</th>
                    <th scope="col">Lenght-Cores</th>
                    <th scope="col" class="add-wr">
                        <button class="btn btn-primary add"><i class="fas fa-plus-circle"></i> Add new</button>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for cable in cables %}
                <tr>
                    <th scope="row" class="rowNum">{{ cable.id }}</th>
                    <td class="data">{{ cable.cable_mark }}</td>
                    <td class="data">{{ cable.destination_to }}</td>
                    <td class="data">{{ cable.destination_from }}</td>
                    <td class="data">{{ cable.status }}</td>
                    <td class="data">{{ cable.cross_section }}</td>
                    <td class="data">{{ cable.length }}</td>
                    <td class="operations-wr">
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
</div>
<body class="container">
<form method="post" action="">
    {{ formset }}
</form>


</body>


{% endblock content %}