{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/plugins/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
{% load i18n %}
{% block content %}
<section class="page">
	<div class="centered overlay"></div>
	<div class="d-flex flex-row justify-content-center align-items-center centered">
		<a href="{% if user.is_authenticated %}
		{{ '/predictions/' }}
		{% else %}
		{{ '/register/' }}
		{% endif %}" class="btn btn-light btn-lg">{% trans "Start win now" %}</a>
	</div>


</section>
{% endblock content %}